* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --eerie-black: #151515;
  --just-white: #ffffff;
  --gray: #808080;
  --vuejs: #41b883;
  --flickr-blue: #065fd4;
  --yale-blue: #174888;
}

html,
body {
  font-family: "Raleway", sans-serif;
}

/* Hero Component */
h1 {
  font-size: 2.5rem;
}

.img-icon {
  width: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: auto;
  gap: 10px;
  overflow: hidden;
  align-items: center;
}

.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

.parraph {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 1.4rem;
}

.header {
  height: 500px;
}

.hero-img {
  width: 100%;
  height: auto;
  grid-column: 7/13;
}

.img {
  width: 95%;
  max-width: 450px;
}
.hero-texts {
  padding-right: 20px;
  grid-column: 1/7;
}

.hero-texts p {
  text-align: justify;
}

.btn-cv {
  width: 130px;
  background-color: var(--eerie-black);
  color: var(--just-white);
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
}

/* Skills Component */
skills {
  height: auto;
  background: linear-gradient(
    180deg,
    var(--just-white) 50%,
    var(--eerie-black) 50%
  );
}

.title-head {
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
}

.items {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  width: 30%;
  height: 220px;
  padding: 20px 10px;
  background: var(--just-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align: center;
}

.item:nth-last-child(-n + 3) {
  box-shadow: 0px 0px 6px rgba(150, 143, 143, 0.5);
}

[class^="fab fa"] {
  font-size: 50px;
  text-align: center;
}

.fa-icon {
  height: 50px;
}
.skills-title {
  margin: 20px 0;
}

/* About Component */
.about-us {
  height: auto;
  padding-top: 30px;
  padding-bottom: 60px;
  background: var(--eerie-black);
  color: #ff;
}

.about-us .subtitle {
  font-size: 2.5rem;
}

.about-us-texts {
  color: var(--just-white);
  grid-column: 1/-1;
  text-align: center;
}

.about-us-texts .parraph {
  margin-top: 10px;
  color: #ccc;
}

.about--profile {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about--avatar {
  width: 200px;
  border-radius: 10%;
}

.about--legend {
  padding-top: 10px;
  text-align: center;
  font-size: 1rem;
  color: var(--just-white);
}

/* Portfolio container */
.portfolio {
  padding: 60px 0;
}

.portfolio-container {
  grid-column: 1/-1;
  grid-row: 1/-1;
  margin-bottom: 20px;
}

.portfolio-item {
  max-width: 90%;
  margin: 15px auto;
}

.portfolio--icons {
  font-size: 25px;
  margin: 0 5px 0 12px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px var(--eerie-black) dotted;
}

.button-container [class^="fab fa"] {
  font-size: 20px;
  margin-left: 5px;
  text-align: center;
}

.button {
  width: 50%;
  max-width: 260px;
  height: 50px;
  min-width: 110px;
  margin: 5px 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 10px;
  background-color: var(--eerie-black);
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.description {
  font-size: 1.1rem;
  padding: 10px 0px;
}

.button:hover {
  border: 2px solid var(--eerie-black);
  color: var(--eerie-black);
  background-color: var(--just-white);
}

.portfolio--options {
  flex-direction: column;
}

.portfolio--item {
  width: 50%;
  height: 180px;
  padding: 10px 0;
}

.portfolio-tech {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}

.settings--button {
  width: 100px;
  height: 30px;
  color: var(--just-white);
  background-color: var(--eerie-black);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.settings--button:hover {
  border: 2px solid var(--eerie-black);
  color: var(--eerie-black);
  background-color: var(--just-white);
}

/* Footer Component */
.footer {
  padding: 60px 0;
  background: var(--eerie-black);
  color: var(--just-white);
  text-align: center;
}

.subtitle {
  font-size: 2.4rem;
}

.footer-texts {
  grid-column: 1/-1;
  margin-bottom: 30px;
}

[class^="footer-item"] a {
  color: var(--just-white);
  font-size: 30px;
}

[class^="footer-item"] a:hover {
  color: var(--gray);
}

[class^="footer-item"] {
  grid-column: span 3;
}

[class^="footer-item"]:hover {
  border-bottom: 2px solid white;
}
/*  */

/* Float Component */
.action {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background: var(--vuejs);
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.action span {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--just-white);
  font-size: 2em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.action.active span {
  transform: rotate(135deg);
}

.action ul {
  min-width: 250px;
  position: absolute;
  right: 45px;
  bottom: 45px;
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
  background: var(--just-white);
  border: 2px solid var(--vuejs);
  visibility: hidden;
  transition: 0.3s;
}

.action.active ul {
  bottom: 45px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.action ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
}

.action ul li:hover {
  font-weight: 600;
}
.action ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.action ul li img {
  width: 30px;
  margin-right: 10px;
  opacity: 0.2;
  transform: scale(0.8);
}

.action ul li:hover img {
  opacity: 0.8;
}
/*  */

/* Responsive */
@media screen and (max-width: 800px) {
  .header {
    height: auto;
  }

  .grid {
    gap: 10px;
  }

  .hero-img,
  .hero-texts {
    grid-column: 1/-1;
  }

  .hero-texts {
    margin-top: 40px;
  }

  .hero-img {
    text-align: center;
  }

  .skills {
    height: auto;
    motion-path: 40px;
  }

  .item {
    width: 60%;
    height: auto;
    margin: 30px 0;
    padding: 40px;
  }

  .portfolio-container {
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: center;
  }

  .portfolio-settings {
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
  }

  .button-container {
    justify-content: space-evenly;
    padding: 10px 0;
  }
}

@media screen and (max-width: 400px) {
  .img {
    max-width: 170px;
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }

  .item {
    width: 90%;
    flex-shrink: 0;
  }

  .about--profile {
    border-bottom: 1px dotted white;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }

  .portfolio-container h3 {
    margin: 15px;
  }

  .portfolio-settings {
    display: none;
  }

  [class^="footer-item"] {
    grid-column: 1/-1;
  }
}
